modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
MYSQL_PUBLIC_HOST = "caboose.proxy.rlwy.net"
MYSQL_PORT = "11766"
MYSQL_USER = "root"
MYSQL_DATABASE = "railway"
MYSQL_PUBLIC_URL = "mysql://root:WlZSYOdPLOStGXzhZgFWDphsLEsHEUPL@caboose.proxy.rlwy.net:11766/railway"
MYSQL_PASSWORD = "WlZSYOdPLOStGXzhZgFWDphsLEsHEUPL"
